font{
    text-decoration: none;
    color: #000000;
    padding: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

body{
    background-color: #ffbb01;
}



.cnTariq{
    border: 1px #cfcfcf;
    height: 50px;
    width: 90%;
    position: relative;
    display: flex;
    margin: 0px;
    border-bottom-style: solid;
    padding: 10px;
    
}
.cnTariq:hover{
    color: #fd0000;
    background: #ffcece;
    box-shadow: 0 0 1px #ff0a0a, 0 0 1px #fc014c, 0 0 1px #f22121;
}
.cnQasim{
    border: 1px #cfcfcf;
    height: 50px;
    width: 90%;
    position: relative;
    display: flex;
    margin: 0px;
    border-bottom-style: solid;
    padding: 10px;
    
}
.cnQasim:hover{
    color: #002efd;
    background: #c8dcff;
    box-shadow: 0 0 1px #0a37ff, 0 0 1px #0144fc, 0 0 1px #2124f2;
}
.cnKhalid{
    border: 1px #cfcfcf;
    height: 50px;
    width: 90%;
    position: relative;
    display: flex;
    margin: 0px;
    border-bottom-style: solid;
    padding: 10px;
    
}
.cnKhalid:hover{
    color: #33fd00;
    background: #cbffd2;
    box-shadow: 0 0 1px #0aff2b, 0 0 1px #01fc0e, 0 0 1px #21f23d;
}
img{
    margin: 5px;
    border-radius: 50%;
    border: 1px solid black;
}
.list{
    float:right;
    position: absolute;
    top: 0px;
    right: 0;
    width: 250px;
    overflow: auto;
    background-color: rgb(226, 226, 226);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.title{
    position: fixed;
    font-size: 20px;
    height: 25px;
    background-color: white;
    width: 100%;
    padding: 5px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.details{
    padding: auto;
    

}
.mainCon{
    padding: 10px;
    background-color:#fff ;
    height: 100%;
    margin-left: 50px;
    margin-right: 300px;
    margin-top: 100px;
    border-left: 180px solid #ffbb01;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
}