body{
    background: linear-gradient(#f9d342, #292826);
    /* background: url(./background.jpg); */
    
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
}
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #f4a950; 
    background: -webkit-linear-gradient(to left, #fbf98f, #4e54c8);  
    width: 100%;
    height:100vh;
    position: fixed;z-index: -1;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.753);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/* body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f9d342, #292826);
    clip-path: circle(30% at right 70%);

}
body::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#4A274F, #292826);
    clip-path: circle(10% at left 10%);
} */
@font-face {
    font-family: ft;
    src: url(foot.otf);
  }

form{
    justify-content: center;
    background: rgba(255, 217, 0, 0.219);
    padding: 2%;
    width: 40%;
    border-radius: 5px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.61), 0 0 80px #ffffff;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(94, 94, 94, 0);; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(94, 94, 94, 0.5);
    border-radius: 10px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
input{
    width: 100%;
    border: 1px solid #888;
    padding: 5px;
    border-radius: 5px;
    font-family: ft;
}
h2{
    font-family: ft;
    margin-top: 3%;
    margin-left: 2%;
}
option{
    font-family: ft;
}
select{
    font-family: ft;

}
label{
    color: rgb(48, 48, 48);
    font-size: large;
    font-family: ft;
}
button{
    justify-self: center;
    background-color: black;
    color:#fff;
    box-shadow: none;
    border: none;
    padding: 5px;
    font-family: ft;
}
@media only screen and (max-width: 768px) {
    form{
        width: 100%;
    }
}