body{
    background-color: #e2a601;
    justify-content: center;
    display: flex;
}

form{
    justify-content: center;
    background-color: #f5b401;
    padding: 2%;
    width: 40%;
}
input{
    width: 100%;
}
label{
    color: rgb(48, 48, 48);
    font-size: small;
}
button{
    justify-self: center;
    background-color: black;
    color:#fff;
    box-shadow: none;
    border: none;
}
@media only screen and (max-width: 768px) {
    form{
        width: 100%;
    }
}